<!-- définition de l'encodage -->
<meta charset="utf-8">
<!-- ces deux lignes servent à faire comprendre aux appareils mobiles
que le site est responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- titre de la page -->
<title>balise_head</title>

<!-- si vous souhaitez que les pages de votre application aient un titre différent,
vous devrez spécifier les titres sur les pages elles-mêmes et non pas ici -->

<!-- chargement des feuilles de style -->
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/style.css">
<link rel="stylesheet" href="static/responsive.css">

