<nav class="navbar navbar-default" id="navbar" style="height:50px; background-color: black !important; padding-left: 40px !important;">
    <div class="navbar-header">
        <a class="navbar-brand" href="/settings">Paramètres</a>
        <a class="navbar-brand" href="/favories">Favoris</a>
    </div>
    <!--<div class="navbar-collapse collapse" id="contenu_nav">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Accueil</a>
            </li>
        </ul>
    </div>-->

    <div class="col-md-3 text-end">
        <button type="button" onclick="window.location.replace('/login');" class="btn btn-outline-primary me-2">Deconnexion</button>
    </div>
</nav>