<nav class="navbar navbar-default" id="navbar"
     style="height:50px; background-color: black !important; padding-left: 40px !important;">
    <div class="navbar-header">
        <a class="btn btn-outline-primary me-2" href="/settings">Paramètres</a>
        <a class="btn btn-outline-primary me-2" href="/favories">Favoris</a>
        <a class="btn btn-outline-primary me-2" href="/search">Ajouter une Musique</a>
    </div>

    <div class="navbar-header">
        <a class="btn btn-outline-primary me-2" href="">Recommendation</a>
    </div>

    <div class="col-md-3 text-end">
        <button type="button" onclick="window.location.replace('/login');" class="btn btn-outline-primary me-2">
            Deconnexion
        </button>
    </div>
</nav>