<!DOCTYPE html>
<html lang="fr">
<head>
    <title>AAFCJM | Accueil</title>
    <%- include("balise_head.ejs") %>
    <script src="static/js/index.js"></script>
</head>
<body>
<%- include('barre_navigation.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-md-offset-1 col-md-10 col-lg-8">
            <p>Hello World !</p>

            <!-- la fonction avertir_serveur() s'exécute
lorsque nous cliquons sur ce bouton -->
            <button class="btn btn-default" onclick="avertir_serveur()">
                <span class="glyphicon glyphicon-link"></span>
                Cliquez ici !
            </button>
            <div class="col-lg-offset-2 col-md-offset-1"></div>
        </div>
    </div>
</div>
</body>
</html>