<!doctype html>
<html lang="fr">
<head>
    <title>AAFCJM | Connexion</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/my_css/login.css">
    <link rel="stylesheet" href="static/my_css/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <%- include("balise_head.ejs") %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

</head>
<body class="text-center">

<main class="form-signin">

    <%if (typeof error != "undefined"){%>
        <p></p>
    <%}%>

    <form method="post" action="/login">
        <h1 class="h3 mb-3 fw-normal text-color-signin">Connectez-vous</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="pseudo" placeholder="pseudo">
            <label for="floatingInput">Pseudo</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="mot de passe">
            <label for="floatingPassword">Mot De Passe</label>
        </div>

        <div class="checkbox mb-3 ">
            <label>
                <p class="text-color-signin">Pas de compte : <a class="" href="/signup">Inscrivez-vous</a></p>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Se Connecter</button>
    </form>
</main>



</body>
</html>
