<!doctype html>
<html lang="fr">
<head>
    <title>AAFCJM | Changement mot de passe</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/my_css/login.css">
    <link rel="stylesheet" href="static/my_css/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <%- include("balise_head.ejs") %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <% if( typeof (error_list) !== "undefined") { %>

        <style>
            .pseudo_error, .password_error {
                border-color: rgb(255, 50, 50);
            }

        </style>

        <script>
            let mess_err = '<%= error_list %>';
            for (const messErrKey in mess_err) {
                console.log(messErrKey);
            }
        </script>
    <% } %>

</head>
<body class="text-center">

<main class="form-signin">

    <form method="post" action="/password">
        <h1 class="h3 mb-3 fw-normal text-color-signin">Changement de Mot de Passe</h1>

        <div class="form-floating">
            <input type="password" class="form-control password_error" id="floatingPassword" name="password"
                   placeholder="mot de passe">
            <label for="floatingPassword">Mot De Passe</label>
        </div>

        <div class="checkbox mb-3 ">
            <label>
                <p class="text-color-signin">Fausse manipulation ? -> <a class="" href="/signup">Retour aux paramètres</a></p>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>
    </form>
</main>


</body>
</html>
