<!doctype html>
<html lang="fr">
<head>
    <title>AAFCJM | Changement mot de passe</title>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/my_css/login.css">
    <link rel="stylesheet" href="static/my_css/style.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <%- include("balise_head.ejs") %>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <% var pass_err = false;
    if( typeof (error_list) !== "undefined") {
        var errList = error_list;
        error_list.forEach((item,index) => {
            if (item === "pass_change_error") {
                pass_err = true;
            }
        });
        }%>


        <style>
            <%if (pass_err === true) {%>.password_error<% } %> {
                border: 2px solid rgb(255, 50, 50) ;
            }

        </style>

</head>
<body class="text-center">

<main class="form-signin">

    <form method="post" action="/password">
        <h1 class="h3 mb-3 fw-normal text-color-signin">Changement de Mot de Passe</h1>

        <% if( typeof (error_list) !== "undefined") {
            if (pass_err === true) { %>
                <p style="color: red;">Le mot de passe saisit est incorrect. Merci de faire une nouvelle saisie</p>
        <%  }
        } %>

        <div class="form-floating">
            <input type="password" class="form-control password_error" id="floatingPassword" name="password"
                   placeholder="mot de passe">
            <label for="floatingPassword">Mot De Passe</label>
        </div>

        <div class="checkbox mb-3 ">
            <label>
                <p class="text-color-signin">Fausse manipulation ? -> <a class="" href="/settings">Retour aux paramètres</a></p>
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Enregistrer</button>
    </form>
</main>


</body>
</html>
