<!DOCTYPE html>
<html lang="fr">
<head>

        <script>
                if (typeof(document.cookie) !== "undefined") {
                let lesCookies = document.cookie.split(';');
                let user_exist = false;
                for (i=0;i<lesCookies.length;i++) {
                    if (lesCookies[i].startsWith("utilisateur=")) {
                        user_exist = true;
                        break;
                    }
                }
                if (!user_exist) {
                    window.location.replace("/login");
                }}
                else {
                    window.location.replace("/login");
                }
        </script>

    <%if( typeof(page) === "undefined" || page === "favories") {%>

        <title>AAFCJM | Profil - Favoris</title>

    <%} else {%>

            <title>AAFCJM | Profil - Paramètres</title>

    <%}%>

    <%- include("balise_head.ejs") %>
</head>
<body>
<%- include('barre_navigation.ejs') %>

<%if( typeof(page) === "undefined" || page === "favories") {%>

    <%- include('favories_profile.ejs')%>

<%} else {%>

    <%- include('settings_profile.ejs')%>

<%}%>
</body>
</html>