
<div class="text-center">

    <div class="container">
        <main>
            <div class="py-5 text-center">
                <h2>Paramètres du profil</h2>
            </div>

            <div class="row g-5">
                <div>
                    <form class="needs-validation" novalidate>
                        <div class="col-12">
                            <label for="username" class="form-label">Pseudo</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">@</span>
                                <input type="text" class="form-control" id="username" placeholder="Username" required>
                                <div class="invalid-feedback">
                                    Un pseudo valide doit être saisi.
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Merci d'entrer un mail valide.
                            </div>
                        </div>

                        <hr class="my-4">

                        <button class="w-30 btn btn-primary btn-lg" type="submit" onclick="">Changer le mot de passe</button>

                        <hr class="my-4">

                        <button class="w-30 btn btn-primary btn-lg" type="submit">Enregistrer</button>
                    </form>
                </div>
            </div>
        </main>

        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017–2021 Company Name</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul>
        </footer>
    </div>

    <script src="form-validation.js"></script>
</div>
